<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:with="ruchesjs='/js/ruches-54/'"
	th:fragment="common_header(scripts,styles,links)">
<title th:text="#{Ruches}"></title>
<meta charset="UTF-8">
<link rel="manifest" th:href="@{/js/manifest.webmanifest}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" th:href="@{/images/ruchesicon.png}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/ruches-4.css}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/js/datatables-2.2.2/datatables.min.css}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/images/bootstrap-icons-1.11.3/bootstrap-icons.min.css}">
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/jquery.validate.min-1.21.0.js}"></script>
<script th:src="@{/js/bootstrap-5.3.3/bootstrap.bundle.min.js}"></script>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/js/bootstrap-5.3.3/bootstrap.min.css}">
<script th:src="@{/js/datatables-2.2.2/datatables.min.js}"></script>
<script th:inline="javascript">	/* exported urlValMessFr,urlDatatMessFr,datatPageLength,tout */
	const urlValMessFr = /*[[@{/js/jquery.validate-1.21.0-messages_fr.min.js}]]*/null;
	const urlDatatMessFr = /*[[@{/js/datatables_fr.json}]]*/null;
	const datatPageLength = /*[[${@environment.getProperty('datatables.pageLength')}]]*/null;
	const tout = /*[[#{Tout}]]*/null;
	</script>
<script th:src="@{${ruchesjs} + 'include.js'}"></script>
<th:block th:replace="${scripts} ?: ~{}" />
<th:block th:replace="${styles} ?: ~{}" />
<th:block th:replace="${links} ?: ~{}" />
</head>

<script th:fragment="jsruches"
	th:src="@{${ruchesjs} + ${#strings.substringAfter(#execInfo.processedTemplateName,'/')} + '.js'}">
	</script>
<script th:fragment="jsruchesnom(nom)"
	th:src="@{${ruchesjs} + ${nom} + '.js'}"></script>

<script th:fragment="d3" th:src="@{/js/d3.min-7.9.0.js}"></script>
<script th:fragment="d3-color" th:src="@{/js/d3-color.min-3.1.0.js}"></script>
<script th:fragment="d3-interpolate"
	th:src="@{/js/d3-interpolate.min-3.0.1.js}"></script>
<script th:fragment="d3-scale-chromatic"
	th:src="@{/js/d3-scale-chromatic.min-3.1.0.js}"></script>
<script th:fragment="d3-zoom" th:src="@{/js/d3-zoom.min-3.0.0.js}"></script>


<script th:fragment="jsol" th:src="@{/js/ol-6.15.1/ol.js}"></script>
<link th:fragment="cssol" rel="stylesheet" type="text/css" media="all"
	th:href="@{/js/ol-6.15.1/ol.css}">

<!--/* th:data-key="${@environment.getProperty('ign.data.key')}" */-->
<!--/* th:attr="data-url=@{/js/autoconf.js}" */-->
<!--/* th:attr="data-url=@{/js/customConfig.json}" */-->

<script th:fragment="jsGpPluginOpenLayers"
	th:attr="data-url=@{/js/customConfig.json}"
	th:src="@{/js/GpPluginOpenLayers-3.4.5/GpPluginOpenLayers.js}"></script>

<script th:fragment="jsGpOsmPluginOpenLayers"
	th:src="@{/js/GpPluginOpenLayers-3.4.5/GpPluginOpenLayers.js}"></script>
<link th:fragment="cssGpPluginOpenLayers" rel="stylesheet"
	type="text/css" media="all"
	th:href="@{/js/GpPluginOpenLayers-3.4.5/GpPluginOpenLayers.css}">

<script defer th:fragment="dom-to-image"
	th:src="@{/js/dom-to-image-more.min-3.5.0.js}"></script>

<script defer th:fragment="jspdf" th:src="@{/js/jspdf-3.0.0.umd.min.js}"></script>

<script th:fragment="jsChart" th:src="@{/js/chart.umd.4.4.8.js}"></script>

<script th:fragment="jsChartZoom"
	th:src="@{/js/chartjs-plugin-zoom.min-2.2.0.js}"></script>
<script th:fragment="jsChartZoomHammer"
	th:src="@{/js/hammer.min-2.0.8.js}"></script>

<script th:fragment="luxon" th:src="@{/js/luxon.min-3.5.0.js}"></script>
<script th:fragment="chartjs-adapter"
	th:src="@{/js/chartjs-adapter-luxon-1.3.1.js}"></script>

<link th:fragment="weather-icons" rel="stylesheet" type="text/css"
	media="all"
	th:href="@{/css/weather-icons-2.0.12/css/weather-icons.min.css}">
<link th:fragment="weather-icons-wind" rel="stylesheet" type="text/css"
	media="all"
	th:href="@{/css/weather-icons-2.0.12/css/weather-icons-wind.min.css}">

<script th:fragment="jsdatetimepicker" defer
	th:src="@{/js/jquery.datetimepicker.full.min-2.5.21.js}"></script>
<link th:fragment="cssdatetimepicker" rel="stylesheet" type="text/css"
	media="all" th:href="@{/js/jquery.datetimepicker.min-2.5.21.css}">
<script th:fragment="localejsdatetimepicker">
	document.addEventListener('DOMContentLoaded', () => {
		$('#date').datetimepicker(); // bof... 
		$.datetimepicker.setLocale(window.navigator.language.substring(0, 2));
	});
</script>

<script th:fragment="jquerydaterangepicker" defer
	th:src="@{/js/jquery-date-range-picker-0.21.1/jquery.daterangepicker.min.js}"></script>
<link th:fragment="cssjquerydaterangepicker" rel="stylesheet"
	type="text/css" media="all"
	th:href="@{/js/jquery-date-range-picker-0.21.1/daterangepicker.min.css}">
<script th:fragment="moment" defer th:src="@{/js/moment-min-2.30.1.js}"></script>

<body>
	<div th:fragment="evedettitre" class="col">
		<h1 class="item">
			<!--/* Eves avec retour vers entité ruche, hausse, rucher, essaim */-->
			<a th:if="${type}=='ruche'"
				th:href="@{'/evenement/ruche/'+${evenement.ruche.id}}"
				th:text="#{ruche}+' '+${evenement.ruche.nom}"></a> <a
				th:if="${type}=='hausse'"
				th:href="@{'/evenement/hausse/'+${evenement.hausse.id}}"
				th:text="#{hausse}+' '+${evenement.hausse.nom}"></a> <a
				th:if="${type}=='rucher'"
				th:href="@{'/evenement/rucher/'+${evenement.rucher.id}}"
				th:text="#{rucher}+' '+${evenement.rucher.nom}"></a> <a
				th:if="${type}=='essaim'"
				th:href="@{'/evenement/essaim/'+${evenement.essaim.id}}"
				th:text="#{essaim}+' '+${evenement.essaim.nom}"></a>
			<!--/* Eve avec retour vers liste tout eve, sucre, traitement, poids, cadre, ajoutruche, notif, remplissage, ajouthausse  */-->
			<a th:if="${type}==''" th:href="@{'/evenement/liste'}"
				th:text="#{evenements}"></a> <a th:if="${type=='sucre'}"
				th:href="@{'/evenement/essaim/listeSucre'}"
				th:text="#{evenementssucre}"></a> <a th:if="${type=='traitement'}"
				th:href="@{'/evenement/essaim/listeTraitement'}"
				th:text="#{evenementstraitement}"></a> <a th:if="${type=='poids'}"
				th:href="@{'/evenement/ruche/listePoidsRuche'}"
				th:text="#{evenementspoidsruche}"></a> <a th:if="${type=='cadre'}"
				th:href="@{'/evenement/ruche/listeCadreRuche'}"
				th:text="#{evenementcadreruche}"></a> <a
				th:if="${type=='ajoutruche'}"
				th:href="@{'/evenement/rucher/listeRucheAjout'}"
				th:text="#{evenementsrucheajout}"></a> <a th:if="${type=='notif'}"
				th:href="@{'/evenement/listeNotif/false'}"
				th:text="#{Notifications}"></a> <a th:if="${type=='remplissage'}"
				th:href="@{'/evenement/hausse/listeRemplissageHausse'}"
				th:text="#{evenementremplissagehausse}"></a> <a
				th:if="${type=='ajouthausse'}"
				th:href="@{'/evenement/hausse/poseRetraitHausse'}"
				th:text="#{evtsPoseRetraitHausses}"></a> <a
				th:if="${type=='essaimruche'}"
				th:href="@{'/evenement/essaim/ajouteEssaimRuche'}"
				th:text="#{evtsAjouteEssaimRuche}"></a>
			<th:block
				th:text="#{sep}+${#temporals.format(evenement.date, 'yyyy/MM/dd HH:mm')}"></th:block>
		</h1>
	</div>
	<footer th:fragment="footer">
		<p
			th:utext="${'&#128029; ' + @environment.getProperty('accueil.titre') + ' &#128029; '}"></p>
		<a target="_blank" href="https://codeberg.org/ooioo/ruches"
			th:text="'Ruches ' + ${buildTime}"></a>
	</footer>
</body>

</html>